# Configuración de la base de datos
DB_HOST=localhost
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DB_NAME=kemel_db

# Configuración JWT
ACCESS_TOKEN_SECRET=tu_clave_secreta_access_muy_segura_aqui
REFRESH_TOKEN_SECRET=tu_clave_secreta_refresh_muy_segura_aqui

# Puerto del servidor
PORT=5010

# Configuración adicional
NODE_ENV=development
